.container {
  -webkit-text-size-adjust: 100%;
  color: rgb(55, 53, 47);
  fill: currentcolor;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: auto;
  cursor: text;
  -webkit-user-modify: read-only;
  outline: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  width: inherit;
}

.container-second {
  -webkit-text-size-adjust: 100%;
  color: rgb(55, 53, 47);
  fill: currentcolor;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: auto;
  cursor: text;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
  z-index: 1;
  margin-right: 0px;
  margin-bottom: 0px;
}

.container-third {
  -webkit-text-size-adjust: 100%;
  color: rgb(55, 53, 47);
  fill: currentcolor;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: auto;
  cursor: text;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  padding-bottom: 180px;
  padding-left: 96px;
  padding-right: 96px;
  min-width: calc((100% - 192px) - 0px);
}

.container-forth {
  -webkit-text-size-adjust: 100%;
  color: rgb(55, 53, 47);
  fill: currentcolor;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: auto;
  cursor: text;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
}

.container-fifth {
  -webkit-text-size-adjust: 100%;
  color: rgb(55, 53, 47);
  fill: currentcolor;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: auto;
  cursor: text;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-sizing: border-box;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 4px;

}
