.container {
  text-align: center;
  -webkit-user-modify: read-only;
  -webkit-text-size-adjust: 100%;
  fill: currentcolor;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: auto;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 120%;
}

.tag-wrapper {
  color: rgb(76, 35, 55);
}

.gallery {
  height: 14px;
  font-size: 12px;
  margin: 0px 4px 0px 0px;
}

.page {
  height: 20px;
  font-size: 14px;
  margin: 0px 6px 6px 0px;
}

