.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0px 6px;
  border-radius: 0.2857142857em;
  transition: all 0.2s;
}

.container:hover {
  background-color: #37352f14;
  cursor: pointer;
}
